h1 {
    text-align: center;
    text-decoration: underline;
    color: whitesmoke;
    border-radius: 15px;
    background-color:rgb(190, 18, 190);
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20%;
    margin-right: 20%;
    padding: 10px;
}